*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: rgb(115, 129, 129); */
}
#main{
    height: 100%;
    width: 100%;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 51px; */
}
h3{
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: fantasy;
    color: black;
    text-shadow: 3px 3px 3px white;
}
.container{
    
    /* height: 70%; */
    /* width: 70%; */
    padding: 20px;
    border-radius: 10px;
    /* margin-bottom: 2%; */
    text-align: center;
    border: 2px solid white;
    
}
table{
    /* margin-top: 5%; */
    margin: auto;
}
input{
    font-size: 25px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
    font-weight: 700;

}
button{
    font-size: 25px;
    /* gap: 5px; */
    margin-bottom: 5px;
    font-weight: 900;
    /* padding: 17px 32px; */
    height: 60px;
    background-color: transparent;
    width: 84px;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 0px 5px 8px rgb(210, 210, 210); */
    transition: all ease .2s;
}
button:hover{
    background-color: brown;
}